{% extends 'base.html' %} {% block body %}
<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="Title">Title:</label>
      <input type="text" id="title" name="fname" />
    </p>
    <p>
      <label for="Author">Author:</label>
      <input type="text" id="Author" name="lname" />
    </p>
    <p>
      <label for="pages-p">Pages:</label>
      <input type="text" id="pages-p" name="pages" />
    </p>
    <p>
      <label>Classification</label>
      <label for="fiction">
        <input
          type="radio"
          id="fiction"
          name="genre"
          value="fiction"
          required="required"
        />
        Fiction
      </label>
      <label for="non-fiction">
        <input
          type="radio"
          id="non-fiction"
          name="genre"
          value="non-fiction"
          required="required"
        />
        Non-fiction
      </label>
    </p> 
    <fieldset>
      <legend>Details</legend>
      <div style="display: block;">
        <label for="owned">
          <input type="checkbox" id="owned" name="details" value="owned" />
          I own this book
        </label>
      </div>
      <div style="display: block;">
        <label for="read">
          <input type="checkbox" id="read" name="details" value="read" />
          I've read this book
        </label>
      </div>
      <div style="display: block;">
        <label for="liked">
          <input type="checkbox" id="liked" name="details" value="liked" />
          I liked this book
        </label>
      </div>
      <div style="display: block;">
        <label for="recommend">
          <input type="checkbox" id="recommend" name="details" value="recommend" />
          I would recommend this book to others
        </label>
      </div>
    </fieldset>
    

    <p>
      <label for="how-got">How did you get this book?</label>
      <select id="how-got" name="how_got" required>
        <option value="">Please select one</option>
        <option value="purchased">I purchased it</option>
        <option value="gift">It was a gift</option>
        <option value="library">I checked it out from the library</option>
        <option value="friend">A friend loaned it to me</option>
      </select>
    </p>


    
    <p><input type="submit" id="submit" value="Submit" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>Friend List</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquistion</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.title }}</td>
        <td>{{ friend.author }}</td>
        <td>{{ friend.pages }}</td>
        <td>{{ friend.genre }}</td>
        <td>{{ friend.details }}</td>
        <td>{{ friend.how_got }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
